* {
 box-sizing: border-box;
}

body {
 font-family: 'Comic Sans MS';
 background-image: radial-gradient(red, blue, green);
 background-size: 200% 200%;
 animation: gradient 7s ease infinite;
}

@keyframes gradient {
 0% {
  background-position: 0% 50%;
 }

 50% {
  background-position: 100% 50%;
 }

 100% {
  background-position: 0% 50%;
 }
}

#header,
#page-title {
 text-align: center;
 color: #CAC0B3;
 font-size: 50px;
 padding-top: 50px;
 height: 100px;
}

.nav ul {
 list-style-type: none;
 margin: 0;
 padding: 10px;
 background-color: blueviolet;
 border: 5px solid gray;
 font-size: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.nav li.logo {
 margin-right: auto;
}

.nav li {
 margin-left: 20px;
 text-align: center;
}

.nav li a {
 color: #CAC0B3;
 text-decoration: none;
}

.nav li a:hover {
 text-decoration: underline;
}


.grid-container {
 display: grid;
 grid-template-areas:
  'left middle middle middle middle right'
  'footer footer footer footer footer footer';
}

.left,
.middle,
.right {
 padding: 10px;
 height: 390px;
}

.left {
 grid-area: left;
 border: 1px solid #ccc;
 overflow: auto;
 text-align: left;
}

.middle {
 grid-area: middle;
 border: 1px solid #ccc;
}

.right {
 grid-area: right;
}

.footer {
 grid-area: footer;
 padding: 10px;
 text-align: center;
 height: 20px;
 color: #CAC0B3;
}

.deep {
 padding: 20px;
 overflow-y: scroll;
}

#gradient {
 height: 300px;
 width: 300px;
 border: 1px solid black;
 font-size: 30px;
 background: linear-gradient(130deg, #ff7e00, #ffffff, #5cff00);
 background-size: 200% 200%;

 -webkit-animation: Animation 5s ease infinite;
 -moz-animation: Animation 5s ease infinite;
 animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
 0% {
  background-position: 10% 0%
 }

 50% {
  background-position: 91% 100%
 }

 100% {
  background-position: 10% 0%
 }
}

@-moz-keyframes Animation {
 0% {
  background-position: 10% 0%
 }

 50% {
  background-position: 91% 100%
 }

 100% {
  background-position: 10% 0%
 }
}

@keyframes Animation {
 0% {
  background-position: 10% 0%
 }

 50% {
  background-position: 91% 100%
 }

 100% {
  background-position: 10% 0%
 }
}

@media (max-width: 600px) {
 .grid-container {
  grid-template-areas:
   'left left left left left left'
   'middle middle middle middle middle middle'
   'right right right right right right'
   'footer footer footer footer footer footer';
 }
}
